.message{
    background-color: white;
    font-size: 18px;
}
.dark-mode{
    color: white;
    background-color: black;
}
.dark-mode .message{
    color: white;
    background: black;
}

span{
    color: red;
}
.dark-mode span{
    color: blue;
}
.last{
    color: black;
    padding: 0;
    margin: 0;
}
.dark-mode .last{
    background-color: black ;
    color: white;
    
    padding: 0;
    margin: 0;
}
button{
    background-color: white;
}
.dark-mode button{
    background-color: black;
}